// @import url(https://fonts.googleapis.com/css2?family=Lato&display=swap);
@font-face {
  font-family: 'Roboto';
  src: url(./fonts/Roboto-Regular.ttf) format('truetype');
}

$red: #c93e3b;
$purple: #8a4d76;
$pink: #f0855f;
$pink-light: #fa8e68;
$pink-lighter: #eca783;
$brown: rgb(159, 102, 75);
$beige: rgb(207, 185, 153);
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;
$yellow: #e3a44e;
$blue: #bfc8c9;
$translucent-beige: rgba(207, 185, 153, 0.5);
$translucent-brown: rgba(195, 102, 75, 0.5);

$custom-colors: (
  'brown': #9f664b,
);
$family-sans-serif: 'Roboto', sans-serif;

$primary: $pink;
$link: $pink-lighter;
$light: $beige-light;

// Update some of Bulma's component variables
$body-background-color: $yellow;
$navbar-dropdown-background-color: $beige-light;
$navbar-dropdown-item-hover-background-color: $translucent-beige;
$navbar-dropdown-item-active-background-color: $translucent-brown;
$control-border-width: 2px;
$navbar-background-color: transparent;
$navbar-item-color: white;
$navbar-item-active-color: grey;

@import '~bulma';
